{% extends "base.html" %}
{% from "user/_rel_button.html" import rel_button, rel_js %}

{% block title %}Admin - Courses{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="row">

  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a href="#">Admin</a></li>
      <li class="active">Courses</li>
      <button class="admin-create pull-right btn btn-default">
          <a href="{{ url_for('.admin_new') }}">
              <i class="glyphicon glyphicon-plus"></i> Create
          </a>
      </button>

    </ol>

    <div class="row">
        {{ mkd|markdown }}
    </div>

  </div>

</div> <!-- row -->
{% endblock %}
