
{% extends "base.html" %}

{% block title %}Welcome to Fromzero!{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="row">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron home-jumbo">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ url_for('static', filename='assets/keyboard_tablet.jpg') }}" width="100%" />
          </div>
          <div class="col-md-6">
            <h2>Start Your Career as a Web Developer</h1>
            <p>Learn professional web development with our video courses and join a community of students learning how to build professional web applications without any prior experience.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('user_app.login') }}" role="button">Login</a> or <a class="btn btn-primary btn-lg" href="{{ url_for('user_app.register') }}" role="button">Join</a></p>
          </div>
      </div>
    </div>

</div>
{% endblock %}
