<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block header %}{% endblock %}

  </head>
  <body>

    <div class="container">

      {% block content %}{% endblock %}

      <div class="col-md-offset-3 col-md-6">
        <hr />
        <footer>
          Made with love in NYC - &copy; 2016 Fromzero.io
        </footer>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% block end_body_js %}{% endblock %}

  </body>
</html>
